root.dir=/home/kalpeshk/CSE562/SearchSystem
dump.filename=wikivoyagepages.xml
tknizer.nthreads=1
tmp.dir=/Users/nikhillo/tmp/
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplyPunctuation
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplyApostrophe
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplyHypen
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplySpecialChars
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplyWhitespace
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplyDates
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplyAccents
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplyStopwords
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplyCapitalization
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApplyNumbers
pretkn.rules=DATES,NUMBERS