*{
padding:0px;
margin:0px;
}
img{border:0px}
html, body{
width:100%;
height:100%
}
.top_left{
background-image:url(images1/top_left.gif);
background-position:top right;
background-repeat:repeat-x
}
.top{
background-image:url(images1/top_center.gif);
background-position:top left;
background-repeat:no-repeat;
vertical-align:top;
padding:22px 0 0 0;
}
.top_right{
background-image:url(images1/top_right.gif);
background-position:top left;
background-repeat:repeat-x;
}1
.bot_left{
background-image:url(images1/bot_left.gif);
background-position:top right;
background-repeat:repeat-x;
}
.bot_center{
background-image:url(images1/bot_center.jpg);
background-position:top left;
background-repeat:no-repeat;
vertical-align:top;
padding:25px 0 0 0;
}
.bot_right{
background-image:url(images1/bot_right.gif);
background-position:top left;
background-repeat:repeat-x;
height:170px;
}
#menu{
padding:0 90px 42px 298px;
float:left;
}
#menu li{
display:inline;
list-style-type:none;
}
#menu li a{
display:block;
float:left;
font-family:Tahoma, sans-serif;
font-size:11px;
color:#E8F6FF;
font-weight:bold;
text-decoration:none;
background-position:top left;
background-repeat:no-repeat;
margin:0 1px 0 0;
height:31px;
line-height:31px;
text-align:center;
}
.but1{background-image:url(images1/but1.gif); width:69px;}
.but2{background-image:url(images1/but2.gif); width:86px;}
.but3{background-image:url(images1/but3.gif); width:69px;}
.but4{background-image:url(images1/but4.gif); width:86px;}
.but5{background-image:url(images1/but5.gif); width:86px;}
.bot_center p{
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#fff;
}
.bot_center p a{
color:#FFCD0D;
text-decoration:underline
}
.bot_center p a:visited{text-decoration:underline}
.bot_center p a:hover{text-decoration:none}
#navigation{
text-align:center;
width:940px;
line-height:17px;
padding:0 0 7px 0;
}
#navigation li{
display:inline;
font-family:Tahoma, sans-serif;
font-size:12px;
color:#FFFFFF;
}
#navigation a{
color:#fff;
text-decoration:none;
margin:0 12px 0 12px; 
}
#navigation a:visited{text-decoration:none}
#navigation a:hover{text-decoration:underline}
.logo{
background-image:url(images1/logo_bg.jpg);
background-position:top left;
background-repeat:no-repeat;
width:269px;
height:150px;
float:left;
}
.logo img{
margin:7px 0 0 10px
}
#main{
width:1000px;
margin:0 auto;
padding:0 0 56px 0;
overflow:hidden;
}
.small_column{
float:left;
padding:0 0 0 10px;
width:1000px;
}
.search{
background-image:url(images1/search_bg.jpg);
background-position:top left;
background-repeat:no-repeat;
margin:4px 0 0 0;
padding:29px 0 0 0;
width:475px;
height:55px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#434343;
}
.search span{
display:block;
float:left;
line-height:20px;
padding:0 8px 0 40px;	
}
.search input{
background-image:url(images1/input_bg.gif);
background-position:top left;
background-repeat:no-repeat;
width:272px;
height:18px;
float:left;
border:0px;
padding:2px 0 0 3px;
}
.search button{
width:70px;
height:20px;
background-image:url(images1/button.jpg);
background-position:top left;
background-repeat:no-repeat;
border:0px;
cursor:hand;
cursor:pointer;
font-family:Tahoma, sans-serif;
font-size:11px;
color:#fff;
margin:1px 0 3px 2px;
float:left;
}
.search a{
color:#434343;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:underline;
margin:0 0 0 87px;
}
.search a:visited{text-decoration:underline}
.search a:hover{text-decoration:none}
.small_nav{
width:600px;
padding:26px 0 24px 75px;
float:left;
}
.small_nav li{
list-style-type:none;
display:inline;
background-image:url(images1/bullet.jpg);
background-position:left 2px;
background-repeat:no-repeat;
padding:0 40px 2px 23px;
}
.small_nav li a{
font-family:Tahoma, sans-serif;
font-size:12px;
color:#027DD4;
text-decoration:underline;
}
.small_nav li a:visited, .item a:visited{text-decoration:underline}
.small_nav li a:hover, .item a:hover{text-decoration:none}
.column1{
background-image:url(images1/bg1.gif);
background-position:top left;
background-repeat:repeat-y;
width:247px;
float:left;
position:relative;
margin:0 8px 0 10px;
display:inline;
}
.item{
width:200px;
padding:14px 0 2px 25px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#5F5F5F;
float:left;
}
.item img{
float:left;
border:1px solid #E2E2EA;
margin:0 0 6px 0;
}
.item p{
float:left;
width:86px;
margin:0 13px 0 0;
display:inline;
text-align:center
}
.item a{
color:#D8420D;
text-decoration:underline;
display:block;
margin:0 auto;
}
.items{
float:left;
padding:0 0 54px 0
}
.slice1{
position:absolute;
top:32px;
left:-22px;
}
.column2{
background-image:url(images1/1.png);
background-position:top left;
background-repeat:repeat;
width:700px;
float:left;
position:relative;
margin:0 0 3px 0
}
.articles{
padding:0 0 24px 0;
float:left;
}
.article{
padding:14px 0 0 23px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#4C4C4E;
float:left
}
.article div{
margin:13px 0 0 0;
width:700px;
}
.article img{
float:left;
padding:0 16px 0 0;
border:1pz solid red
}
.article h4{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#4C4C4E;
font-weight:normal
}
.categories{
font-family:Tahoma, sans-serif;
font-size:11px;
color:#027DD4;
text-decoration:underline
}
.categories:visited{text-decoration:underline}
.categories:hover{text-decoration:none}
.time{
font-weight:bold;
border-right:1px solid #AAAAB0;
line-height:14px;
display:block;
float:left;
padding:0 7px 0 0
}
.author{
font-weight:bold;
display:block;
float:left;
padding:0 0 0 8px;
}
.author a{
font-weight:normal;
color:#027DD4;
text-decoration:underline
}
.author a:visited{text-decoration:underline}
.author a:hover{text-decoration:none}
.article p{
float:left;
width:300px;
padding:5px 0 0 0;
line-height:13px;
}
.article div p span{
display:block;
float:left;
padding:3px 0 0 0
}
.column3{
background-image:url(images1/bg2.gif);
background-position:top left;
background-repeat:repeat-y;
width:476px;
float:left;
position:relative;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#5F5F5F;
}
.column3 p{
padding:20px 0 0 25px;
width:420px;
line-height:13px
}
.more{
background-image:url(images1/plus.gif);
background-position:left 3px;
background-repeat:no-repeat;
color:#D8420D;
text-decoration:underline;
padding:0 0 0 14px;
display:block;
margin:12px 0 19px 0
}
.more:visited{text-decoration:underline}
.more:hover{text-decoration:none}
#sidebar{
width:242px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#5F5F5F
}
#sidebar div{
padding:28px 0 0 0
}
#sidebar ul{
padding:15px 0 0 12px;
}
#sidebar li{
list-style-type:none;
line-height:17px;
}
#sidebar li a{
font-size:12px;
color:#027DD4;
text-decoration:underline
}
#sidebar li a:visited{text-decoration:underline}
#sidebar li a:hover{text-decoration:none}
#sidebar p{
padding:20px 0 0 10px;
width:212px;
}
.name{
padding:10px 0 0 10px;
display:block
}
#sidebar .more{
margin:10px 0 0 10px
}
.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}
